In [1]:
import pandas as pd

In [45]:
tal = pd.read_csv('episode_info', index_col=False)
#tal.drop("Unnamed: 0", axis=1, inplace=True)
#tal.drop_duplicates(inplace=True)

In [44]:
tal.to_csv('episode_info', index=False)

In [43]:
tal.isna().sum()

ep_num            0
ep_name           0
pub_date          0
host              0
contributers      0
num_acts          0
last_timestamp    0
dtype: int64

In [42]:
tal.fillna('Ira Glass', inplace=True)

In [38]:
tal.head()

,ep_num,ep_name,pub_date,host,contributers,num_acts,last_timestamp
0,1,New Beginnings,2017-12-14 10:24:29-08:00,Ira Glass,"['Kevin Kelly', 'Lawrence Steger', 'Ira Glass']",4,0 days 01:01:50.290000
1,2,Small Scale Sin,2017-12-14 10:24:29-08:00,Ira Glass,"['Announcer', 'Ira Glass']",3,0 days 01:01:13.840000
2,3,Poultry Slam 1995,2017-12-14 10:24:29-08:00,Ira Glass,"['David Sedaris', 'Chickenman Announcer', 'Ira...",4,0 days 00:58:57.870000
3,4,Vacations,2017-12-14 10:24:29-08:00,Ira Glass,"['Sandra Tsing Loh', 'Ira Glass', 'David Sedar...",3,0 days 00:58:42.070000
4,5,Anger and Forgiveness,2017-12-14 10:24:29-08:00,Ira Glass,"['Glen Fitzgerald', 'Jack Hitt', 'Cheryl Trykv...",5,0 days 01:00:33.100000